@import './common/var.css';

.drip-button {
  position: relative;
  padding: 0 15px;
  display: inline-block;
  height: 44px;
  line-height: 42px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  -webkit-appearance: none;

  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    border-color: $button-shade-color;
    background-color: $button-shade-color;
    border-radius: inherit;
    transform: translate(-50%, -50%);
  }

  &:not([disabled]):active::before {
    opacity: .1;
  }

  &--default {
    color: $button-default-color;
    background-color: $button-default-background-color;
    border: 1px solid $button-default-border-color;
  }

  &--primary {
    color: $button-primary-color;
    background-color: $button-primary-background-color;
    border: 1px solid $button-primary-border-color;
  }

  &--plain {
    color: $button-plain-color;
    background-color: $button-plain-background-color;
    border: 1px solid $button-plain-border-color;
  }

  &.is-loading {
    position: relative;

    .drip-button__icon-loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    .drip-button__text {
      position: relative;
      z-index: 5;
      opacity: .1;
    }
  }

  &.is-block {
    display: block;
    padding: 0;
    width: 100%;
  }

  &.is-flat {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
  }

  &.is-disabled {
    &::before {
      opacity: .6;
      border-color: $white;
      background-color: $white;
    }
  }

  .drip-icon {
    vertical-align: middle;
    margin: -3px 5px 0 0;
  }
}
