@import './common/var.css';

.drip-col {
  float: left;
  box-sizing: border-box;
}

@for $i from 1 to 24 {
  .drip-col-$i { width: calc($i * 100% / 24); }
  .drip-col-offset-$i { margin-left: calc($i * 100% / 24); }
}
